.blog-title{
  font-weight: 300;
}

.blog-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6em;
}

.blog-banner .text-container{
  display: flex;
  justify-content: space-around;
}

.text-muted{
  width: 38rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.blog-btn{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

.my-btn{
  width: 10em;
  margin: 0.2em;
}

.blog-cards{
  background-color: whitesmoke;
  margin-top: 4.6em;
  padding-top: 6.4em;
  display: flex;
  flex-direction: column;
}