#ht{
  color: #2eb82e !important; 
}
.contact{
  font-family: 'Poppins', sans-serif;
}

.contact-banner h1{
  color: black;
  font-weight: 700;
  margin-top: 1.6em;
  margin-bottom: 3.6em;
}

.contact-image{
  width: 6.2em;
  padding-bottom: 2em;
}

.contact-links{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.6em;
}

.contact-links .link-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-email{
  background-color: whitesmoke;
  margin-top: 5.2em;
  padding-top: 3.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-email h2{
  font-weight: 700;
  margin-bottom: 0;
}

#fnap{
  margin-top: 0;
  margin-bottom: 2.3em;
}